/*  your css code here. If applicable */
:root{
background-color:rgb(135, 206, 235);
}

article p:first-child{
background-color:black;
color:white;
padding:10px;
}

article p:nth-child(2){
padding:10px;
}

article p:last-child{
color:red;
padding:10px;
}

ul{
padding-left:20px;
}

ul li{
background-color:gray;
width:50%;
padding:10px;
}

ul li:nth-child(odd){
background-color:white;
}

ul li:first-child,
ul li:last-child{
font-size:22px;
}

ul li:nth-last-child(3){
background-color:pink;
}
